#greetingMsg, #end {
  text-align: center;
  background-color: lightgray;
  color: black;
  font-weight: bold;
  width: 50vw;
  margin: auto;
  opacity: 0.9;
  vertical-align: middle;
  top: 30%;
  padding: 20px;
}


#quiz {
  text-align: center;
  background-color: lightgray;
  color: black;
  font-weight: bold;
  opacity: 0.9;
  height: 80vh;
  width: 80vw;
  margin: auto;
}

button{
  margin-top: 10px;
  cursor: pointer;
  width: 25vw;
}

button:active{
  border-radius: 100%;
}
